<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('http://127.0.0.1:8000/build/app.css') }}">
    {% endblock %}
</head>
<body>

<header class="app-header">
    <div class="container">
        <nav>
            <a href="/">Home</a> |
            <a href="/news/why-asteroids-taste-like-bacon">why asteroids taste like bacon</a>
        </nav>
    </div>
</header>

<main class="app-main">
    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
</main>

<footer class="app-footer">
    <div class="container">
        {% block footer %}
            &copy; Copyright 2018 by <a href="#">me</a>.
        {% endblock %}
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('http://127.0.0.1:8080/build/app.js') }}"></script>
{% endblock %}
</body>
</html>
